<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>N & LW Lawn Care - Landscaping Bootstrap4 HTML5 Responsive Template </title>
	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="/static/css/all.css" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
	<!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/main-style.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav th:insert="/fragments/fragments :: nav"></nav>
    <br>
<!--    <header class="slider-main">-->
<!--        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">-->
<!--            <ol class="carousel-indicators">-->
<!--               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--            </ol>-->
<!--            <div class="carousel-inner" role="listbox">-->
<!--               &lt;!&ndash; Slide One - Set the background image for this slide in the line below &ndash;&gt;-->
<!--               <div class="carousel-item active" style="background-image: url('/images/slider-01.jpg')">-->
<!--                  <div class="carousel-caption d-none d-md-block">-->
<!--                     <h3>Welcome to N & LW Lawn Care</h3>-->
<!--                     <p>A Great Theme For Garden Lawn Care</p>-->
<!--                  </div>-->
<!--               </div>-->
<!--               &lt;!&ndash; Slide Two - Set the background image for this slide in the line below &ndash;&gt;-->
<!--               <div class="carousel-item" style="background-image: url('/images/slider-02.jpg')">-->
<!--                  <div class="carousel-caption d-none d-md-block">-->
<!--                     <h3>Beautiful Garden</h3>-->
<!--                     <p>A Great Theme For Garden Lawn Care</p>-->
<!--                  </div>-->
<!--               </div>-->
<!--               &lt;!&ndash; Slide Three - Set the background image for this slide in the line below &ndash;&gt;-->
<!--               <div class="carousel-item" style="background-image: url('/images/slider-03.jpg')">-->
<!--                  <div class="carousel-caption d-none d-md-block">-->
<!--                     <h3>Welcome to N & LW Lawn Care</h3>-->
<!--                     <p>A Great Theme For Garden Lawn Care</p>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
<!--				<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--				<span class="sr-only">Previous</span>-->
<!--            </a>-->
<!--            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
<!--				<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--				<span class="sr-only">Next</span>-->
<!--            </a>-->
<!--        </div>-->
<!--    </header>-->
    <!-- Page Content -->
    <div class="container">
        <div class="services-bar">
            <h1 class="card-title">오늘의 뉴스 </h1>
            <!-- Services Section -->
            <div class="row">
                <div class="col-lg-3 mb-4">
                    <h4 class="card-title">충격! 호날두 맨유 이적?</h4>
                    신명재뉴스
                        <img class="card-image" src="/static/images/services-img-02.jpg" alt="" />
<!--                        <div class="card-body">-->
<!--                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
<!--                        </div>-->
<!--                        <div class="card-footer">-->
<!--                            <a href="#" class="btn btn-primary">Learn More</a>-->
<!--                        </div>-->

                </div>
                <div class="col-lg-3 mb-4">
                    <h4 class="card-title">충격! 호날두 맨유 이적?</h4>
                    신명재뉴스
                    <img class="card-image" src="/static/images/services-img-02.jpg" alt="" />
                    <!--                        <div class="card-body">-->
                    <!--                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="card-footer">-->
                    <!--                            <a href="#" class="btn btn-primary">Learn More</a>-->
                    <!--                        </div>-->

                </div>
                <div class="col-lg-3 mb-4">
                    <h4 class="card-title">충격! 호날두 맨유 이적?</h4>
                    신명재뉴스
                    <img class="card-image" src="/static/images/services-img-02.jpg" alt="" />
                    <!--                        <div class="card-body">-->
                    <!--                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="card-footer">-->
                    <!--                            <a href="#" class="btn btn-primary">Learn More</a>-->
                    <!--                        </div>-->

                </div>
                <div class="col-lg-3 mb-4">
                    <h4 class="card-title">충격! 호날두 맨유 이적?</h4>
                    신명재뉴스
                    <img class="card-image" src="/static/images/services-img-02.jpg" alt="" />
                    <!--                        <div class="card-body">-->
                    <!--                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="card-footer">-->
                    <!--                            <a href="#" class="btn btn-primary">Learn More</a>-->
                    <!--                        </div>-->

                </div>
            </div>
<!--               <div class="col-lg-4 mb-4">-->
<!--                  <div class="card h-100">-->
<!--                     <h4 class="card-header">Garden Watering</h4>-->
<!--                     <div class="card-img">-->
<!--                        <img class="img-fluid" src="/static/images/services-img-02.jpg" alt="" />-->
<!--                     </div>-->
<!--                     <div class="card-body">-->
<!--                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
<!--                     </div>-->
<!--                     <div class="card-footer">-->
<!--                        <a href="#" class="btn btn-primary">Learn More</a>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-lg-4 mb-4">-->
<!--                  <div class="card h-100">-->
<!--                     <h4 class="card-header">Garden Supplies</h4>-->
<!--                     <div class="card-img">-->
<!--                        <img class="img-fluid" src="/static/images/services-img-03.jpg" alt="" />-->
<!--                     </div>-->
<!--                     <div class="card-body">-->
<!--                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
<!--                     </div>-->
<!--                     <div class="card-footer">-->
<!--                        <a href="#" class="btn btn-primary">Learn More</a>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
            <!-- /.row -->
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3 mb-4">
                <img class="short-card-image" src="/static/images/services-img-02.jpg" alt="" />
            </div>
            <div class="col-lg-3 mb-4">
                <h4 class="card-title">[속보] 동물원</h4>
                신명재뉴스
            </div>
            <div class="col-lg-3 mb-4">
                <img class="short-card-image" src="/static/images/services-img-02.jpg" alt="" />
            </div>
            <div class="col-lg-3 mb-4">
                <h4 class="card-title">[속보] 동물원</h4>
                신명재뉴스
            </div>
            <div class="col-lg-3 mb-4">
                <img class="short-card-image" src="/static/images/services-img-02.jpg" alt="" />
            </div>
            <div class="col-lg-3 mb-4">
                <h4 class="card-title">[속보] 동물원</h4>
                신명재뉴스
            </div>
            <div class="col-lg-3 mb-4">
                <img class="short-card-image" src="/static/images/services-img-02.jpg" alt="" />
            </div>
            <div class="col-lg-3 mb-4">
                <h4 class="card-title">[속보] 동물원</h4>
                신명재뉴스
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <h3 class="card-title">리그 순위표</h3>
            </div>
            <div class="col-lg-3">
                <h3 style="text-align: right;">더보기</h3>
            </div>
            <div class="col-lg-6">
                <h3 class="card-title">현재 인기글</h3>
            </div>
            <div class="col-lg-6">
                <table class="ranking">
                    <thead class="league-names">
                        <tr style="cursor: pointer;">
                            <td colspan="3"><a onclick="changeLeague('EPL')">EPL</a></td>
                            <td colspan="3"><a onclick="changeLeague('LALIGA')" id="laligaTitle">LA LIGA</a></td>
                            <td colspan="3"><a onclick="changeLeague('SERIEA')" id="serieaTitle">SERIE A</a></td>
                            <td colspan="3"><a onclick="changeLeague('BUNDESLIGA')" id="bundesligaTitle">BUNDESLIGA</a></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >순위</td>
                            <td colspan="6">팀명</td>
                            <td >경기</td>
                            <td >승</td>
                            <td >무</td>
                            <td >패</td>
                            <td >승점</td>
                        </tr>
                    </tbody>
                    <tbody id="eplRanking">
                        <tr>
                            <td>1</td>
                            <td colspan="6">맨시티</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td colspan="6">리버풀</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                    <tbody id="laligaRanking">
                        <tr>
                            <td>1</td>
                            <td colspan="6">바르셀로나</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td colspan="6">레알 마드리드</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                    <tbody id="serieaRanking">
                        <tr>
                            <td>1</td>
                            <td colspan="6">유벤투스</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td colspan="6">인테르</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                    <tbody id="bundesligaRanking">
                        <tr>
                            <td>1</td>
                            <td colspan="6">바이에른 뮌헨</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td colspan="6">레버쿠젠</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <table class="ranking">
                    <h3 class="card-title">주요 경기</h3>
                    <thead class="league-names">
                        <tr>
                            <td colspan="3">EPL</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>토트넘</td>
                            <td>02:00</td>
                            <td>아스날</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="ranking">
                    <thead class="league-names">
                        <tr>
                            <td class="post-header" colspan="4">제목</td>
                            <td>추천</td>
                            <td>조회수</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="league-name">EPL</td>
                        </tr>
                        <tr>
                            <td colspan="4">첼시의 미래는?</td>
                            <td>80</td>
                            <td>3533</td>
                        </tr>
                        <tr>
                            <td colspan="4">첼시의 미래는?</td>
                            <td>80</td>
                            <td>3533</td>
                        </tr>
                        <tr>
                            <td class="league-name">LA LIGA</td>
                        </tr>
                        <tr>
                            <td colspan="4">첼시의 미래는?</td>
                            <td>80</td>
                            <td>3533</td>
                        </tr>
                        <tr>
                            <td colspan="4">첼시의 미래는?</td>
                            <td>80</td>
                            <td>3533</td>
                        </tr>
                        <tr>
                            <td class="league-name">SERIE A</td>
                        </tr>
                        <tr>
                            <td colspan="4">첼시의 미래는?</td>
                            <td>80</td>
                            <td>3533</td>
                        </tr>
                        <tr>
                            <td colspan="4">첼시의 미래는?</td>
                            <td>80</td>
                            <td>3533</td>
                        </tr>
                        <tr>
                            <td class="league-name">BUNDESLIGA</td>
                        </tr>
                        <tr>
                            <td colspan="4">첼시의 미래는?</td>
                            <td>80</td>
                            <td>3533</td>
                        </tr>
                        <tr>
                            <td colspan="4">첼시의 미래는?</td>
                            <td>80</td>
                            <td>3533</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- About Section -->
<!--        <div class="about-main">-->
<!--            <div class="row">-->
<!--               <div class="col-lg-6">-->
<!--                  <h2>Welcome to N & LW Lawn Care</h2>-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
<!--                  <h5>Our smart approach</h5>-->
<!--                  <ul>-->
<!--                     <li>Sed at tellus eu quam posuere mattis.</li>-->
<!--                     <li>Phasellus quis erat et enim laoreet posuere ac porttitor ipsum.</li>-->
<!--                     <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>-->
<!--                     <li>Duis porttitor odio pellentesque mollis vulputate.</li>-->
<!--                     <li>Quisque ac eros non ex hendrerit vehicula.</li>-->
<!--                  </ul>-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>-->
<!--               </div>-->
<!--               <div class="col-lg-6">-->
<!--                  <img class="img-fluid rounded" src="/static/images/about-img.jpg" alt="" />-->
<!--               </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.row &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; Portfolio Section &ndash;&gt;-->
<!--        <div class="portfolio-main">-->
<!--            <h2>Our Portfolio</h2>-->
<!--            <div class="row">-->
<!--               <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--                  <div class="card h-100">-->
<!--                     <div class="card-img">-->
<!--                        <a href="#">-->
<!--                           <img class="card-img-top" src="/static/images/portfolio-img-01.jpg" alt="" />-->
<!--                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
<!--                        </a>-->
<!--                     </div>-->
<!--                     <div class="card-body">-->
<!--                        <h4 class="card-title">-->
<!--                           <a href="#">Lawn & garden care</a>-->
<!--                        </h4>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--                  <div class="card h-100">-->
<!--                     <div class="card-img">-->
<!--                        <a href="#">-->
<!--                           <img class="card-img-top" src="/static/images/portfolio-img-02.jpg" alt="" />-->
<!--                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
<!--                        </a>-->
<!--                     </div>-->
<!--                     <div class="card-body">-->
<!--                        <h4 class="card-title">-->
<!--                           <a href="#">Lawn renovation</a>-->
<!--                        </h4>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--                  <div class="card h-100">-->
<!--                     <div class="card-img">-->
<!--                        <a href="#">-->
<!--                           <img class="card-img-top" src="/static/images/portfolio-img-03.jpg" alt="" />-->
<!--                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
<!--                        </a>-->
<!--                     </div>-->
<!--                     <div class="card-body">-->
<!--                        <h4 class="card-title">-->
<!--                           <a href="#">Tree planting</a>-->
<!--                        </h4>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--                  <div class="card h-100">-->
<!--                     <div class="card-img">-->
<!--                        <a href="#">-->
<!--                           <img class="card-img-top" src="/static/images/portfolio-img-04.jpg" alt="" />-->
<!--                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
<!--                        </a>-->
<!--                     </div>-->
<!--                     <div class="card-body">-->
<!--                        <h4 class="card-title">-->
<!--                           <a href="#">Water Baganig</a>-->
<!--                        </h4>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--                  <div class="card h-100">-->
<!--                     <div class="card-img">-->
<!--                        <a href="#">-->
<!--                           <img class="card-img-top" src="/static/images/portfolio-img-05.jpg" alt="" />-->
<!--                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
<!--                        </a>-->
<!--                     </div>-->
<!--                     <div class="card-body">-->
<!--                        <h4 class="card-title">-->
<!--                           <a href="#">Growing plants</a>-->
<!--                        </h4>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--                  <div class="card h-100">-->
<!--                     <div class="card-img">-->
<!--                        <a href="#">-->
<!--                           <img class="card-img-top" src="/static/images/portfolio-img-01.jpg" alt="" />-->
<!--                           <div class="overlay"><i class="fas fa-arrows-alt"></i></div>-->
<!--                        </a>-->
<!--                     </div>-->
<!--                     <div class="card-body">-->
<!--                        <h4 class="card-title">-->
<!--                           <a href="#">Snow removal</a>-->
<!--                        </h4>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; /.row &ndash;&gt;-->
<!--        </div>-->
<!--        <hr>-->
<!--        &lt;!&ndash; Get In Touch Now Section &ndash;&gt;-->
<!--        <div class="row mb-4">-->
<!--            <div class="col-md-8">-->
<!--               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--               <a class="btn btn-lg btn-secondary btn-block" href="#">Get In Touch Now</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
               <div class="col-lg-3 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
					<!--headin5_amrc-->
					<p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
					<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
					<p><i class="fa fa-phone"></i> +91-9999878398 </p>
					<p><i class="fa fa fa-envelope"></i> info@example.com </p>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
					<!--headin5_amrc ends here-->
					<ul class="footer_ul2_amrc">
						<li>
							<a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
							<p>Lorem Ipsum is simply dummy printing...<a href="#">https://www.lipsum.com/</a></p>
						</li>
						<li>
							<a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
							<p>Lorem Ipsum is simply dummy printing...<a href="#">https://www.lipsum.com/</a></p>
						</li>
						<li>
							<a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
							<p>Lorem Ipsum is simply dummy printing...<a href="#">https://www.lipsum.com/</a></p>
						</li>
					</ul>
					<!--footer_ul2_amrc ends here-->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
						<li><a href="#">Default Version</a></li>
						<li><a href="#">Boxed Version</a></li>
						<li><a href="#">Our Team </a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Our Services</a></li>
						<li><a href="#">Get In Touch</a></li>
					</ul>
					<!--footer_ul_amrc ends here-->
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 ">
					<h5 class="headin5_amrc col_white_amrc pt2">Recent posts</h5>
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="/static/images/post-img-01.jpg" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>22 Sep 2018</span>
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="/static/images/post-img-02.jpg" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>34 Sep 2018</span>
							</div>
						</li>
						<li class="media">
							<div class="media-left">
								<img class="img-fluid" src="/static/images/post-img-03.jpg" alt="" />
							</div>
							<div class="media-body">
								<p>How to find best dog food?</p>
								<span>30 Sep 2018</span>
							</div>
						</li>
					</ul>
					<!--footer_ul_amrc ends here-->
				</div>
			</div>
		</div>
        <div class="container">
            <div class="footer-logo">
				<a href="#"><img src="/static/images/footer-logo.png" alt="" /></a>
			</div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy; 2018 <a href="#">N & LW Lawn Care</a> Design By :
				<a href="https://html.design/">html design</a>
            </p>
            <ul class="social_footer_ul">
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/mainPage.js"></script>
</body>
</html>