<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Ma pper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
    <select id="loginCheck" parameterType="String" resultMap="memberResultMap">
        select m.member_id, m.id, m.password, m.name AS member_name, m.nickname, m.gender, m.birthday, m.phone, m.point, m.role, m.team_id,
               t.team_id, t.name AS team_name, t.league, t.logo, t.head_coach, t.stadium, t.location
        from member m INNER JOIN team t ON m.team_id = t.team_id
        where m.id = #{id}
    </select>
    <insert id="insertOne" parameterType="memberDto">
        INSERT INTO member(id, password, name, gender, birthday, nickname, team_id, role, phone, point)
        VALUES(#{id}, #{password}, #{name}, #{gender}, #{birthday}, #{nickname}, #{teamDto.teamId}, #{role}, #{phone}, #{point})
    </insert>
    <select id="selectById" parameterType="String" resultType="String">
        SELECT id FROM member WHERE id = #{nickname}
    </select>
    <select id="selectByNickname" parameterType="String" resultType="String">
        SELECT nickname FROM member WHERE nickname = #{nickname}
    </select>
    <select id="selectByMemberId" parameterType="long" resultMap="memberResultMap">
        select m.member_id, m.id, m.password, m.name AS member_name, m.nickname, m.gender, m.birthday, m.phone, m.point, m.role, m.team_id,
               t.team_id, t.name AS team_name, t.league, t.logo, t.head_coach, t.stadium, t.location
        from member m INNER JOIN team t ON m.team_id = t.team_id
        where m.member_id = #{memberId}
    </select>

    <update id="update" parameterType="memberDto">
        UPDATE member SET name = #{name}, birthday = #{birthday}, phone = #{phone}
        WHERE member_id = #{memberId}
    </update>

    <update id="updatePassword" parameterType="memberDto">
        Update member SET password = #{password} where member_id = #{memberId}
    </update>

    <update id="updateTeam" parameterType="memberDto">
        Update member SET team_id = #{teamDto.teamId} where member_id = #{memberId}
    </update>

    <update id="updateNickname" parameterType="memberDto">
        Update member SET nickname = #{nickname} where member_id = #{memberId}
    </update>

    <update id="updatePointGetByMemberId" parameterType="java.lang.Long">
        Update member set point = point + 200 where member_id = #{memberId}
    </update>

    <update id="updatePointLoseByMemberId" parameterType="java.lang.Long">
        Update member set point = point - 200 where member_id = #{memberId}
    </update>

    <resultMap id="memberResultMap" type="memberDto">
        <result property="memberId" column="member_id"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="name" column="member_name"/>
        <result property="nickname" column="nickname"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="birthday" column="birthday"/>
        <result property="point" column="point"/>
        <result property="role" column="role"/>
        <association property="teamDto" javaType="teamDto">
            <result property="teamId" column="team_id"/>
            <result property="name" column="team_name"/>
            <result property="league" column="league"/>
            <result property="logo" column="logo"/>
            <result property="headCoach" column="head_coach"/>
            <result property="stadium" column="stadium"/>
            <result property="location" column="location"/>
        </association>
    </resultMap>
</mapper>