<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StatisticsMapper">

    <insert id="insertStatistics" parameterType="java.util.List">
        insert into Statistics (
        statistics_id,team_id, player_id, player_name , played_matches, goals, assists, penalties, season, league
        )
        values
        <foreach collection="list" item="statisticsDto" separator=",">
            (
            #{statisticsDto.statisticsId},
            #{statisticsDto.teamDto.teamId},
            #{statisticsDto.playerId},
            #{statisticsDto.playerName},
            #{statisticsDto.playedMatches},
            #{statisticsDto.goals},
            #{statisticsDto.assists},
            #{statisticsDto.penalties},
            #{statisticsDto.season},
            #{statisticsDto.league}
            )
        </foreach>
        on DUPLICATE key update
        statistics_id = VALUES(statistics_id),
        team_id = VALUES(team_id),
        player_id = VALUES(player_id),
        player_name = VALUES(player_name),
        played_matches = VALUES(played_matches),
        goals = VALUES(goals),
        assists = VALUES(assists),
        penalties = VALUES(penalties),
        season = VALUES(season),
        league = VALUES(league)
    </insert>

    <select id="selectByLeagueSeason" parameterType="statisticsDto" resultMap="statisticsResultMap">
        SELECT s.statistics_id, s.player_id, s.player_name, s.team_id, s.played_matches, s.goals, s.assists, s.penalties,
               s.season, s.league, t.team_id, t.name AS team_name, t.logo
        FROM statistics s
        INNER JOIN team t ON s.team_id = t.team_id
        WHERE s.league = #{league} AND s.season = #{season}
        ORDER BY s.goals DESC;
    </select>

<!--    <select id="selectByLeagueSeason" parameterType="statisticsDto" resultMap="statisticsResultMap">-->
<!--        SELECT s.statistics_id, s.player_id, s.player_name, s.team_id, s.played_matches, s.goals, s.assists, s.penalties,-->
<!--               s.season, s.league, t.team_id, t.name AS team_name, t.logo-->
<!--               p.player_id, p.name AS player_name, p.nation-->
<!--        FROM statistics s-->
<!--                 INNER JOIN team t ON s.team_id = t.team_id-->
<!--        INNER JOIN player p ON s.player_id = p.player_Id-->
<!--        WHERE s.league = #{league} AND s.season = #{season}-->
<!--        ORDER BY s.goals DESC;-->
<!--    </select>-->

    <resultMap id="statisticsResultMap" type="statisticsDto">
        <result property="statisticsId" column="statistics_id"/>
        <result property="playedMatches" column="played_matches"/>
        <result property="playerName" column="player_name"/>
        <result property="goals" column="goals"/>
        <result property="assists" column="assists"/>
        <result property="penalties" column="penalties"/>
        <result property="season" column="season"/>
        <result property="league" column="league"/>
        <association property="teamDto" javaType="teamDto">
            <result property="teamId" column="team_id"/>
            <result property="name" column="team_name"/>
            <result property="logo" column="logo"/>
        </association>
<!--        <association property="playerDto" javaType="playerDto">-->
<!--            <result property="playerId" column="player_id"/>-->
<!--            <result property="name" column="player_name"/>-->
<!--            <result property="nation" column="nation"/>-->
<!--        </association>-->
    </resultMap>
</mapper>