<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>팀 정보</title>
  <link href="/static/css/all.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--<link href="/static/css/style.css" rel="stylesheet">-->
  <!-- Fontawesome/static/css -->
  <link href="/static/css/all.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/taehyun.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <div class="row justify-content-center mb-4">
    <div class="col-md-8">
      <form class="input-group">
        <input type="text" class="form-control" placeholder="팀 이름을 입력하세요..." aria-label="팀 검색">
        <button class="btn btn-primary" type="submit">검색</button>
      </form>
    </div>
  </div>
  <h1 class="title-box my-4">호날두</h1> <!-- 가운데 정렬 -->
  <div class="row">
    <div class="col-md-6">
      <img src="your-image-url.jpg" alt="바르셀로나 이미지" class="img-fluid mb-3"> <!-- 이미지 추가 -->
    </div>
    <div class="col-md-6"> <!-- 가운데 정렬을 위한 offset 추가 -->
      <h5 class="info-box">국적:포르투갈</h5>
      <h5 class="info-box">골:1000골</h5>
      <h5 class="info-box">어시:1000어시</h5>
      <h5 class="info-box">출생연도: 1899/10/10</h5>
      <h5 class="info-box">트로피: UEFA 챔피언스 리그 5회 우승</h5>
    </div>
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-primary info-box">선수 평가하러 가기</button>
  </div>




<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>