<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/all.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/static/css/style.css" rel="stylesheet">-->
    <!-- Fontawesome/static/css -->
    <link href="/static/css/all.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/playerreview.css" rel="stylesheet">
</head>
<body>
<div class="comment-section">
    <div class="comment-header">
        선수평가 (자유로운 의견을 남겨주세요)
    </div>
    <div class="comment-list">
        <div class="comment-item">
            <span class="comment-text">김태현: 얘 도대체 왜 빨아주는거?</span>
            <button class="comment-button">추천:10000</button>
            <button class="comment-button">비추천:1</button>
            <button class="comment-button">수정</button>
            <button class="comment-button">삭제</button>
        </div>
        <div class="comment-item">
            <span class="comment-text">신명재: 또 당신입니까.... goat</span>
            <button class="comment-button">추천:500</button>
            <button class="comment-button">비추천:30</button>
        </div>
        <div class="comment-item">
            <span class="comment-text">신명재: 또 당신입니까.... goat</span>
            <button class="comment-button">추천:500</button>
            <button class="comment-button">비추천:30</button>
        </div>
        <div class="comment-item">
            <span class="comment-text">신명재: 또 당신입니까.... goat</span>
            <button class="comment-button">추천:500</button>
            <button class="comment-button">비추천:30</button>
        </div>
    </div>
    <div class="comment-input-section">
        <input type="text" class="comment-input" placeholder="(댓글달기)">
        <button class="submit-button">작성</button>
    </div>
</div>
</body>
</html>
