<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>팀 정보</title>
    <link href="/static/css/all.css" rel="stylesheet">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/static/css/style.css" rel="stylesheet">-->
    <!-- Fontawesome/static/css -->
    <link href="/static/css/all.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/taehyun.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <form class="input-group">
                <input type="text" class="form-control" placeholder="팀 이름을 입력하세요..." aria-label="팀 검색">
                <button class="btn btn-primary" type="submit">검색</button>
            </form>
        </div>
    </div>
    <h1 class="title-box my-5">바르셀로나</h1> <!-- 텍스트 색상 적용 -->

    <div class="row">
        <div class="col-md-6">
            <img src="/static/images/바르셀로나.png" alt="호날두 이미지" class="img-fluid player-img"> <!-- 이미지 스타일 개선 -->
        </div>
        <div class="col-md-6">
            <div class="player-info-table"> <!-- 표 레이아웃 적용 -->
                <table class="table table-bordered"> <!-- table-bordered 클래스를 사용 -->
                    <tbody>
                    <tr>
                        <td class="blue-background">소속리그</td>
                        <td class="white-background">라리가</td>
                    </tr>
                    <tr>
                        <td class="blue-background">창단연도</td>
                        <td class="white-background">2001</td>
                    </tr>
                    <tr>
                        <td class="blue-background">구단주</td>
                        <td class="white-background">김태현</td>
                    </tr>
                    <tr>
                        <td class="blue-background">주장</td>
                        <td class="white-background">김태현</td>
                    </tr>
                    <tr>
                        <td class="blue-background">트로피</td>
                        <td class="white-background">UEFA 챔피언스 리그 5회 우승</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-primary info-box">팀 평가하러 가기</button>
    </div>

    <!-- 팀 스쿼드 섹션 -->
    <h2 class="mt-5 mb-4 text-center">팀 스쿼드</h2>
    <div class="row">
        <!-- 예시 선수 카드 1 -->
        <div class="col-md-4">
            <div class="info-box">
                <img src="/static/images/테어슈터켄.PNG" class="card-img-top" alt="선수 1 이미지">
                <div class="card-body">
                    <h5 class="card-title">테어슈터켄</h5>
                    <p class="card-text">
                        포지션: 골기퍼<br>
                        등번호: 1<br>
                        국적: 독일<br>
                        주장
                    </p>
                    <a href="#" class="btn btn-outline-primary">자세히 보기</a>
                </div>
            </div>
        </div>

        <!-- 예시 선수 카드 2 -->
        <div class="col-md-4">
            <div class="info-box">
                <img src="/static/images/하피냐.PNG" class="card-img-top" alt="선수 2 이미지">
                <div class="card-body">
                    <h5 class="card-title">하피냐</h5>
                    <p class="card-text">
                        포지션: 공격수<br>
                        등번호: 11<br>
                        국적: 브라질<br>
                        신
                    </p>
                    <a href="#" class="btn btn-outline-primary">자세히 보기</a>
                </div>
            </div>
        </div>

        <!-- 예시 선수 카드 3 -->
        <div class="col-md-4">
            <div class="info-box">
                <img src="/static/images/라민야말.PNG" class="card-img-top" alt="선수 3 이미지">
                <div class="card-body">
                    <h5 class="card-title">라민 야말</h5>
                    <p class="card-text">
                        포지션: 공격수<br>
                        등번호: 19<br>
                        국적: 스페인<br>
                        메시
                    </p>
                    <a href="#" class="btn btn-outline-primary">자세히 보기</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>