.schedule {
    width: 100%;
    color: black;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.match-day {
    display: flex;
    align-items: center;
}

.match-day img{
    height: 40px;
    width: 40px;
}

.match-day span {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.team-home {
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
    padding: 15px 0px;
    justify-content: center;
}
.team-home img {
    width: 30px;
    height: 30px;
    margin: 10px 15px;
}
.team-home:hover, .team-away:hover, .vs:hover{
    background-color: #ddd;
}

.team-away {
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
    padding: 15px 0px;
    justify-content: center;
}
.team-away img{
    width: 30px;
    height: 30px;
    margin: 10px 15px;
}

.stadium {
    font-size: 12px;
    color: gray;
    flex: 0.5;
    text-align: right;
}
.round-text {
    font-size: 12px;
    color: gray;
    flex: 0.6;
    text-align: center;
    font-weight: bold;
}
.vs {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 20.5px 0px;
    justify-content: center;
}
.vs-prediction{
    font-size: 12px;
    color: dodgerblue;
}

.vs-text{
    font-weight: bold
}

.team-home-text {
    flex: 5;
    text-align: right;
    font-weight: bold;
}

.team-away-text {
    flex: 5;
    text-align: left;
    font-weight: bold;
}

.score-text {
    flex: 1.5;
    text-align: center;
    font-weight: bold;
}
.prediction-text {
    flex: 1;
    text-align: center;
    color: dodgerblue;
    font-size: 12px;
}

.null-text {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}